<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>前锦-我的目标</title>
        <link rel="stylesheet" href="../static/css/usual.css">
        <link rel="stylesheet" href="../static/css/nav.css">
        <link rel="stylesheet" href="../static/css/myGoal.css">
    </head>
    <body>
        <nav id="nav">
        <div id="container">
        <span>
        <div id="icon"><a href="{{ url_for('index') }}">前锦</a> </div>
        <ul id="menu">
            <li class="selected"><a href="{{ url_for('index') }}">首页</a></li>
            <li><a href="{{ url_for('myGoal') }}">个人中心</a>
                <ul>
                    <li><a href="{{ url_for('myGoal') }}">我的目标</a></li>
                    <li><a href="{{ url_for('personal') }}">个人信息</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('suggestion') }}">前锦建议</a></li>
            <li><a href="{{ url_for('setting') }}">设置</a></li>
            <li><a href="{{ url_for('logout') }}">退出</a></li>
            <li><a href="#">注册</a></li>
        </ul>
        </span>
        </div>
        </nav>
        <div id="adBar"></div>
        
        <div id="myGole-body">
            <ul id="choice-ul">
                <li>
                    <div id="choice-kaoyan" class="choice">
                        <img src="images/kaoyan.jpeg" class="choicePic">
                        <p class="choiceTitle">考研</p>
                        <p class="choiceAbout">迈向更高的学历</p>
                        <button id="choiceBtn">选择</button>
                    </div>
                </li>
                <li>
                    <div id="choice-gongzuo" class="choice">
                        <img src="images/gongzuo.jpeg" class="choicePic">
                        <p class="choiceTitle">就业</p>
                        <p class="choiceAbout">开启职场人生</p>
                        <button id="choiceBtn">已选择</button>
                    </div>
                
                </li>
                <li>
                    <div id="choice-chuguo" class="choice">
                        <img src="images/chuguo.jpeg" class="choicePic">
                        <p class="choiceTitle">出国</p>
                        <p class="choiceAbout">探索另一种生活</p>
                        <button id="choiceBtn">选择</button>
                    </div>
                
                </li>
                <li>
                    <div id="choice-chuangye" class="choice">
                        <img src="images/chuangye.jpeg" class="choicePic">
                        <p class="choiceTitle">创业</p>
                        <p class="choiceAbout">创造无限可能</p>
                        <button id="choiceBtn">选择</button>
                    </div>  
                </li>
            </ul>
        </div>
        
    </body>
</html>