<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>前锦-我的计划</title>
        <link rel="stylesheet" href="../static/css/usual.css">
        <link rel="stylesheet" href="../static/css/nav.css">
    </head>
    <body>
        <nav id="nav">
        <div id="container">
        <span>
        <div id="icon"><a href="{{ url_for('index') }}">前锦</a> </div>
        <ul id="menu">
            <li class="selected"><a href="{{ url_for('index') }}">首页</a></li>
            <li><a href="{{ url_for('myGoal') }}">个人中心</a>
                <ul>
                    <li><a href="{{ url_for('myGoal') }}">我的目标</a></li>
                    <li><a href="{{ url_for('personal') }}">个人信息</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('suggestion') }}">前锦建议</a></li>
            <li><a href="{{ url_for('setting') }}">设置</a></li>
            <li><a href="{{ url_for('logout') }}">退出</a></li>
            <li><a href="{{ url_for('register') }}">注册</a></li>
        </ul>
        </span>
        </div>
        </nav>
    </body>
</html>